extends layout

block content
  header(class="w3-container w3-teal")
    h1 #{title} de #{cadeira.titulo}

  nav(class="w3-bar w3-light-grey")
    a(href="/cadeiras" class="w3-bar-item w3-button") Cadeiras

    a(href="/perfil" class="w3-bar-item w3-button") Perfil

    if nivel == 'docente' || nivel == 'admin'
      a(href="/cadeiras/add" class="w3-bar-item w3-button") Nova Cadeira

    if ( (nivel == 'docente' && cadeira.docentes[0] == userID ) || nivel == 'admin' )
      a(href=`/cadeiras/${cadeira._id}/update` class="w3-bar-item w3-button") Editar Cadeira

    if nivel == 'docente'
      a(href=`/cadeiras/${cadeira._id}/sumario/add` class="w3-bar-item w3-button") Novo Sumário

    if (nivel == 'admin' || nivel == 'docente')
      a(href=`/cadeiras/${cadeira._id}/alunos` class="w3-bar-item w3-button") Alunos

    a(href=`/cadeiras/${cadeira._id}/ficheiros` class="w3-bar-item w3-button") Ficheiros

    if ( (nivel == 'docente' && cadeira.docentes[0] == userID ) ) || nivel == 'admin' 
      a(href=`/cadeiras/${cadeira._id}/ficheiros/upload` class="w3-bar-item w3-button") Upload de Ficheiros

    a(href="/logout" class="w3-bar-item w3-button") Logout

  div(class="w3-container")
    h3 Alunos
    table(class="w3-table w3-striped w3-bordered w3-card-4")
      thead
        tr
          th Nome
          th Número
          th Ações
      tbody
        if alunos.length == 0
          tr
            td(colspan="2") Não existem alunos inscritos
        else
          each aluno in alunos
            if aluno != null
              tr
                td 
                  a(href=`/users/${aluno._id}`) #{aluno.nome}
                td #{aluno.numero}
                td
                  if cadeira.docentes[0] == userID || nivel == 'admin'
                    a(href=`/cadeiras/${cadeira._id}/alunos/${aluno._id}/remove` class="w3-button w3-red") Remover

                  else 
                    span Sem ações
